@model VCare2.DatabaseLayer.Models.staff
@inject  VCare2.ServiceLayer.StateService StateService
@inject  VCare2.ServiceLayer.StaffInjectionViewService StaffInjectionViewService
@*@inject  VCare2.ServiceLayer.StatisticsService StatsService*@

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
@*
<ul>
            <li>Total Items: @StatsService.GetCount()</li>
            <li>Completed: @StatsService.GetCompletedCount()</li>
            <li>Avg. Priority: @StatsService.GetAveragePriority()</li>
</ul>*@

<div>
   @foreach (var state in StateService.List())
    {
       @state.Name
       @state.Abbreviation
    }

</div>
<div>
    <h4>staff</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Forename)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Forename)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dob)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CareHome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CareHome.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobTitle.JobTitle)
        </dd>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>QualificationType</th>
                    <th>Grade</th>
                    <th>AttainmentDate</th>
                </tr>

               @* <div>Total Items: @StaffInjectionViewService.List()</div>*@
                @foreach (var item in StaffInjectionViewService.List((int)ViewData["StaffID"] ))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.QualificationType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Grade)
                        </td>
                         <td>
                            @Html.DisplayFor(modelItem => item.AttainmentDate)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StaffId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
